html {
  overflow: hidden;
  touch-action: manipulation;
}

body {
  font-family: "Titillium Web", sans-serif;

  background: var(--slate-gray-3);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.btn, button {
  color: var(--sand-orange-3);
  border: none;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.1em;
  transition: none;
  margin: 0 2px 0;
  padding: 6px 12px;
}

.btn:focus {
  box-shadow: none;
}

button:disabled {
  opacity: .5;
  pointer-events: none;
}

button[type="submit"] {
  line-height: 1.1;
  background: var(--mpg-slate-gray-0);
  text-transform: uppercase;
}

[type="submit"]:hover,
[type="submit"]:focus,
[type="submit"]:active,
button {
  background: rgba(var(--mpdl-light-blue), 0.5);
}

button[type="reset"] {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0;
  background: var(--mpg-sand-orange-1);
  color: #fff;
}

[type="reset"]:hover,
[type="reset"]:focus,
[type="reset"]:active,
button {
  background: var(--mpg-sand-orange-0);
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: none;
  }
}

.caps {
  color: #636261;
  font-family: titillium-web, sans-serif;
  font-size: 0.57143rem;
  font-variation-settings: "wght" 650;
  letter-spacing: 0.1em;
  line-height: 1rem;
  text-transform: uppercase;
}

.icon {
  fill: currentColor;
  min-width: 1rem;
  pointer-events: none;
  position: relative;
  stroke: currentColor;
  stroke-width: 2px;
  vertical-align: top;
}

.form-label {
  color: var(--sky-blue-3);
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 4px;
  margin-bottom: 0;
}

.form-control {
  font-size: 0.8rem;
  line-height: 1.2;
  color: var(--mpg-slate-gray-0);
  background-color: var(--mpg-light-gray);
  border: 1px solid var(--mpg-slate-gray-2);
  padding: 5px 10px;
}

.form-control:focus,
.form-control:hover {
  border-color: var(--mpg-yellow-green-2);
}

.form-control:disabled {
  opacity: .75;
  pointer-events: none;
}

select {
  overflow-y: scroll; 
}

select:hover {
  border-color: var(--mpg-yellow-green-2);
}

p {
  color: var(--mpg-slate-gray-0);
}

table {
  color: var(--mpg-slate-gray-0);
}

th {
  padding: 0 1rem;
}

td {
  padding: 0 1rem;
  font-size: small;
}