.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 0 0 0;
    height: 3rem;
    background: var(--mpg-dark-blue);
    font-size: .57143rem;
}

.footer img {
    height: 2rem;
}

.footer-tagline {
    font-size: 1.2rem;
    line-height: 1rem;
    color: #fff;
    font-variation-settings: "wght" 600;
    margin: 0.5rem 0;
    width: auto;
}

@media (min-width: 768px) {
    .footer-tagline {
        font-size: 1.8rem;
        text-align: start;
    }
}