.header {
    overflow: hidden;
    background: var(--mpg-slate-gray-0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 2;
}

.header::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    content: "";
    display: block;
    height: 4rem;
    right: calc(50% - 1.5rem);
}

@media (min-width: 768px) {
    .header::before {
        right: 2em;
    }
}

@media (min-width: 992px) {
    .header::before {
        height: 5rem;
    }
}

@media (min-width: 1200px) {
    .header::before {
        height: 6rem;
        transform: none;
    }
}

.header>.container {
    position: relative;
}

.header-tagline {
    font-size: 1.2rem;
    line-height: 1rem;
    color: whitesmoke;
    font-variation-settings: "wght" 600;
    margin: 0rem 1rem 2rem 1rem;
    width: auto;
}

@media (min-width: 768px) {
    .header-tagline {
        font-size: 1.8rem;
        text-align: end;
    }
}


