.header {
    background: var(--mpg-slate-gray-0);
    padding: 0.5rem 0;
}

.header::before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    right: calc(50% - 1.5rem);
}

@media (min-width: 768px) {
    .header::before {
        right: 2em;
    }
}

@media (min-width: 992px) {
    .header::before {
        height: 5rem;
    }
}

@media (min-width: 1200px) {
    .header::before {
        height: 6rem;
        transform: none;
    }
}

.header>.container {
    position: relative;
}

#author {
    color: var(--yellow-green-3);
}
