.main {
  
  flex: 1 0 auto;
  display: flex;
  height: calc(100% - 13rem);
  flex-direction: column;
  
  overflow-x: hidden;

  width: 100%;
  background: var(--slate-gray-3);
  padding: 0.5rem 0;
  transition: filter 0.2s;
}

.files ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.files header {
  visibility: hidden;
}

.files li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  font-size: 0.8rem;
  line-height: 1rem;
}
